@import "/src/App.css";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 48px 1.25rem;
}

.navbar__list {
  display: flex;
  gap: 10px;
}

.navbar__logo {
  margin: auto 0;
}
