@import "/src/App.css";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 3rem 0 8rem;
}

.navbar__list {
  display: flex;
  gap: 2.5rem;

  font-size: 0.875rem;
  color: var(--secondary);
}

.navbar__logo {
  margin: auto 0;
}
