@import url(/src/App.scss);

.review_card {
  margin: auto;
}

.review_card__text {
  background-color: var(--very-light-gray);
  padding: 2rem;
}

.review_card__img {
  margin-bottom: -48px;
  width: 5rem;
}
