@import url(/src/App.scss);

.banner {
  display: flex;
  justify-content: space-between;

  padding: 2.5rem;

  background-color: var(--primary);
  background-image: url(../../assets/landing/images/bg-tablet-pattern-copy.svg),
    url(../../assets/landing/images/bg-tablet-pattern-copy.svg);
  background-repeat: no-repeat;
  background-position: 268% 114%, -56% 4%;
}

.banner__text {
  max-width: 30rem;

  margin-left: 10rem;

  h2 {
    color: white;
  }
}

.banner__button_container {
  align-self: center;
  margin-right: 6rem;
}

ul {
  margin: 0;
  padding: 0;
}
